 {% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <script src="https://use.fontawesome.com/fc9938d86d.js"></script>
       <title>Details</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        <br><br><br>
        <div class="container">
         <ul class="nav nav-tabs ">
              <li role="presentation" class="navbar-right"><a href="/" style="color: #53292A "><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a> </li>
              <li role="presentation" class="navbar-right"><a href="/patient_login/profile/" style="color: #53292A" ><i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi,{{ user.first_name }}</a></li>
         </ul>
            <div class="page-header">
                <h1>Dr.{{ doctor.first_name }} {{ doctor.last_name }} <br>

                        <p class="text-nowrap">
                                <small>{{ doctor.specialization }} | <small>Experience: {{ doctor.experience }} years</small><br>
                                <i class="fa fa-inr" aria-hidden="true"></i> {{ doctor.fees }}/-
                                <br >
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span> <small>{{ doctor.Address }}, {{ doctor.Landmark }}, {{ doctor.City }} - {{ doctor.PIN }}, {{ doctor.State }}</small>
                        </p>

                    </small></h1>
                <div class="row">
                  <div class="col-md-9 col-md-offset-9">
                          <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> {{ doctor.phone }}</span>  <h7> | </h7>
                          <span class="glyphicon glyphicon-envelope" aria-hidden="true"> {{ doctor.email }}</span>
                  </div>
                </div>

            </div>
            <div class="panel panel-default" align="justify">
                <div class="panel-body" >
                   <p class="lead">{{ doctor.description }}</p>
                </div>
            </div>
        <div>

        </div>
            <input class="btn btn-default" type="submit" value="Schedule" style="background-color:antiquewhite " onclick="location.href='schedule/'" >
        </div>


    {% endblock %}

</body>
</html>
