{% extends 'base.html' %}
{% block head %}
    <script src="https://use.fontawesome.com/fc9938d86d.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <title>Schedule</title>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="container">
        <ul class="nav nav-tabs ">
            <li role="presentation" class="navbar-right">
                <a href="/" style="color: #53292A ">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                </a>
            </li>
            <li role="presentation" class="navbar-right">
                <a href="/patient_login/profile/" style="color: #53292A" >
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> Hi,{{ user.first_name }}
                </a>
            </li>
        </ul>

        <div class="page-header">
            <h1>
                Dr.{{ doctor.first_name }} {{ doctor.last_name }}
                <br>
                <small>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ curr_date }}
                </small>
            </h1>
        </div>

        <!-- Date Selection Form -->
        <form method="get" class="form-inline" style="margin-bottom: 20px;">
            <div class="form-group">
                <label for="date">Select Date:</label>
                <input type="date" id="date" name="date" class="form-control"
                       value="{{ curr_date|date:'Y-m-d' }}"
                       min="{{ today|date:'Y-m-d' }}">
            </div>
            <button type="submit" class="btn btn-primary">Go</button>
        </form>

        <!-- Display Messages -->
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!-- Appointment Slots Table -->
            <table class="table table-hover" border="1">
                <thead style="background-color: antiquewhite">
                    <tr>
                        <th>Slot No.</th>
                        <th>Timings</th>
                        <th>Availability</th>
                    </tr>
                </thead>
                <tbody>
                    {% for slot in slots %}
                    <tr>
                        <td><h4>{{ slot.number }}</h4></td>
                        <td><h4>{{ slot.time }}</h4></td>
                        <td>
                            <h4>
                                {% if slot.is_booked %}
                                    <span class="label label-danger">Booked</span>
                                {% else %}
                                    <span class="label label-success">Available</span>
                                {% endif %}
                            </h4>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Booking Form -->
            <div style="background-color:floralwhite;">
                {{ form.as_p }}
                <input class="btn btn-default" type="submit" value="Book" style="background-color:antiquewhite;">
                <br><br>
            </div>
        </form>
    </div>
{% endblock %}
