{% extends 'base.html' %}
{% block head %}
    <title>Change Password</title>
{% endblock %}
{% block body%}
    {% load static %}
             <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    <br><br><br>
    <div class="container">
        <div class="page-header">
            <h1>My Profile<br><small>Hi {{ user.first_name }}, What's up today?</small></h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-default" style="background-color:antiquewhite ">Save</button>
            <button type="reset" class="btn btn-default" style="background-color:antiquewhite " onclick="location.href='/patient_login/profile/'">Cancel</button>
        </form>


    </div>

{% endblock %}
