{% block head %}
<title>Login</title>
{% endblock %}

{% block body%}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/fc9938d86d.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<style>
body {
background-image: url('/static/images/background.jpg');
background-size: cover;
font-family: 'Roboto', sans-serif;
}
    .container {
        margin-top: 50px;
    }

    .page-header {
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }

    form {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #53292a;
        color: #000;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #fff;
        color: #53292A;
    }

    .navbar {
        background-color: #53292A;
    }

    .navbar a {
        color: white;
    }
</style>
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Patient Login<br></h1>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }} "style="color: green">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" style="max-width: 400px; margin: 0 auto;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-default" type="submit" style="background-color:antiquewhite">Login</button>
    </form>
</div>
{% endblock %}